@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: subpixel-antialiased;
}
.background-images {
	background-image: url("/bg-pattern-top.svg"), url("/bg-pattern-bottom.svg");
	background-size: 58%, 58%;
	background-position: calc(0% - 200px) calc(0% - 500px),
		120% calc(100% + 500px);
	background-repeat: no-repeat, no-repeat;
	@apply bg-cyan;
}
h2 {
	@apply text-blue-dark font-black text-xl;
}
footer span {
	@apply text-xs text-gray tracking-widest;
}
section {
	@apply flex flex-col items-center;
}
