@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: subpixel-antialiased;
}
.background-images {
	background-image: url("/bg-pattern-top.svg"), url("/bg-pattern-bottom.svg");
	background-size: 55%, 55%;
	background-position: -20% calc(0% - 500px), 120% calc(100% + 500px);
	background-repeat: no-repeat, no-repeat;
	@apply bg-cyan;
}
